/* //////////////////////// */
/* ////////// TODO //////// */
/* //////////////////////// */

/* User Story */
/* 
  the text in the maket image is under the social media icons. As a user, there should be apporipriate spacing in between these two sections to view easlier.
*/

/* Solution (Develpoer) */
/* Social div and overlay text div - perphas a flexbox issue */

/* User Story */
/* 
  As a user, I need to scroll down the webpage in a smooth motion with scrolling from side to side
*/

/* Solution (Develpoer) */

/* Horizontal scrolling - prehaps an overflow issue */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

}

nav {
  width: 100vw;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  flex: 1 1 100%;
}

header {
  height: 100vh;

  background-image: 
    linear-gradient(rgba(211, 211, 201, 0.418), #000),
    
    url("https://d3u03kk87rjfaq.cloudfront.net/wp-content/uploads/2009/06/03145943/farmers-markets.jpg");

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  box-shadow: 0 5px 12px rgba(51, 51, 51, 0.63);
  object-fit: fill;
}

 header h1, header h2 {
  background: linear-gradient(to right, rgba(51, 51, 51, 0.842), transparent);
  color: #fff;
  
}



a {
  text-decoration: none;
  color: #fff;
  background: #0d88af;
  padding: 20px;
  display: block;
  text-align: center;
  transition: all 300ms ease-in-out;
}

a:hover {
  /* color: #333; */
  background: #acd7bb;

  /* hexadecimal numbers range from 0-9, a-f */

  background: rgb(80, 155, 80);
}

/* .social {
  display: flex;
  max-width: 100%; */

/* give social div a width */
/* give social div icons */
/* give icons colors and background colors */
/* use transition to change icon colors background colors when hovering them  */
/* } */

.social {
  position: relative;
  display: flex;
  height: 10%;
  justify-content: space-around;
}

.social a {
  padding: 10px;
  flex-grow: 1;
  align-self: flex-end;
}

.social a:hover {
  background-color: rgb(255, 100, 100);
}

.market {
  width: 250px;
  background-color: #555;
  position: relative;
  display: flex;
  margin: 10px;
}

.img-wrapper {
  width: 20em;
}

img {
  max-width: 100%;

  display: block;
}

.overlay {
  background: linear-gradient(
    to bottom,
    rgba(136, 136, 136, 0.747),
    rgb(16, 29, 73)
  );

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.overlay-text {
  padding: 15px;
  /* margin-bottom: */
}

.overlay-text h4 {
  margin-top: 40px;
}
.overlay-text p {
  margin-top: 10px;
  font-size: 0.8em;
}

.market:hover .overlay {
  opacity: 1;
}


main {
  background-color: rgb(230, 236, 228);
  width: 90%;
  margin: 0 auto; 
  box-shadow: 5px 8px 12px rgba(170, 170, 170, 0.705);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links {
  display: flex; 
  width: 90%;
  margin: 0 auto;
}

.footer-list {
  width: 30%;
  flex-direction: column;
}