body {
  margin: 0
}

header, .intro, .articles, .img-gallery {
  border-bottom: 1px solid rgb(223, 210, 210);
  box-shadow: 0 8px 10px rgb(218, 211, 211);
  padding: 20px;
  /* padding-left: 5px;
  padding-bottom: 5px;
  padding-right:50px;
  padding-top: 70px */
}


.intro p {
  font-size: 1.4em;
  line-height: 2em;
}


/* .8em = 13px */
/* 1em = 16px */

/* 1.5em = 24px  */

/* 2em = 32px */


.articles {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  width: calc(100% - 200px);
  margin: 0 auto;
  height:  300px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}


.article {
  border: 1px solid black;
  width: 250px;
  padding: 20px 20px 10px 20px;

}


.article h3, .article p {
  font-size: .8em;  
  margin: 0;
}

.article h3 {
  margin-top: 0;
}

.article p {
}